<%= erb :hbanner, :layout => false %>

<div class="headline">
  <div class="container">
    <div class="row clearfix">
      <div class="column full">
        <h1>Sudokugeschichte</h1>
      </div>
    </div>
  </div>
</div>

<div class="content marked">
  <div class="container">
    <div class="row clearfix">
      <div class="column full">
        <!--
        <p>Sudoku ist eines der beliebtesten Zahlenrätsel. Das Spiel wird regelmäßig in den Zeitungen und 
        Zeitschriften auf der ganzen Welt veröffentlicht. Extra für Sie haben wir die Online-Version des 
        klassischen Sudoku-Spiels entwickelt. Sudoku-Rätsel lösen ist der beste Weg, sich zu konzentrieren 
        und die Freizeit nützlich zu verbringen.</p>

        <img class="image floated" src="img/img-index.png" alt="Sudoku">
        <p>Um der Rangliste hinzufügen zu können, müssen Sie sich anmelden. Nach der Anmeldung werden Sie für jede Sudoku-Lösung Punkte bekommen. Je mehr Punkte Sie bekommen, desto höher werden Sie an der Rangliste sein. Melden Sie sich für das Spiel an, wählen Sie die gewünschte Schwierigkeitsstufe und laden Sie Ihre Freunde ein, mit denen Sie wetteifern können!</p>

        <h1>Spielregeln</h1>

        <p>Um ein Sudoku zu lösen, müssen Sie die leeren Zellen des Spielfeldes mit Ziffern von 1 bis 9 so füllen, dass jede Ziffer in jeder Zeile, Spalte und in jedem 3х3-Block genau einmal vorkommt. Um Sudoku zu spielen, brauchen Sie keine speziellen mathematischen oder rechnerischen Fertigkeiten zu haben.</p>

        <p>Um zu beginnen, wählen Sie die Schwierigkeitsstufe: sehr leicht, leicht, mittelschwer, schwer und sehr schwer. Je höher die Schwierigkeitsstufe ist, desto weniger Zellen werden am Anfang des Spiels mit den Ziffern (von 1 bis 9) gefüllt. Keine Sorge, man kann ein Profi werden, auch wenn man mit einer leichten Stufe beginnt. Je nach der Schwierigkeitsstufe und Übung brauchen Sie von 5 bis 30 Minuten, um ein Sudoku zu lösen. Wir empfehlen Ihnen, sich mit den grundlegenden Lösungstechniken des Sudoku vertraut zu machen.</p>

        <p>Neue Ziffern einzugeben und die früher eingegebenen Ziffern zu korrigieren darf man nur in leeren Sudoku-Feldern, die von Anfang an nicht gefüllt waren. Um eine Ziffer zu löschen, wählen Sie die Zelle und drücken Sie die Taste „Löschen“ oder geben Sie ersatzweise eine neue Ziffer ein. Rote Ziffern bedeuten, dass die Spielfelder regelwidrig gefüllt sind. Prüfen Sie das Ganze aufmerksam durch, finden Sie die Fehler und korrigieren Sie sie.</p>
        
        <div class="text-center">
          <img class="image" src="img/img-video.png" alt="Video">
        </div>
      </div>
      -->
      
      <p>Fast jedes populäre Spiel hat seine Heimat. Man nennt zum Beispiel England die Heimat des Fußballs, und Schach erschien in Indien (es ist zumindest die allgemein übliche Version der Geschichte).</p>
      <p>Und was ist mit der Geschichte und Fakten von Sudoku? Wir bieten Sie an, dieses Spiel näher kennenzulernen und durch alle Phasen von Entwicklung ihrer Popularität zu gehen.</p>
      <img class="image floated" src="img/geschichte/image14.jpg" alt="Sudokugeschichte">
      <p><b>1. Jahrhundert nach Christus.</b> Es erschien ein Zahlenspiel mit einem kleinen Quadrat (nur 3 x 3 Zellen) in China.  Laut den Spielregeln sollte man die Zahlen von 1 bis 9 in diesen Quadrat so einschreiben, dass die Summe in jeder Zeile, Spalte und in jeder Diagonal 15 gleich sein sollte. Man kann sagen, es ist die Zeit wenn die Geschichte von Sudoku ihren Anfang nimmt.</p>
      <p><b>17. Jahrhundert. Die Zeit von Zahlen.</b> Leonhard Euler, ein Schweizer Mathematiker, Ingenieur und Physiker erfand das Spiel, das er "Lateinisches Quadrat" genannt hat. In seinem Archiv hat man Notizen gefunden, die die Information über ein “magisches Quadrat” mit einer bestimmten Zahl von Zeilen enthielt (Die besondere Aufmerksamkeit hat er den Zahlen 9, 16, 25 und 36 geschenkt).</p>
      <p>Doch der geniale Mathematiker hat dieses Spiel auch weiterentwickelt. Er hat die Arbeit "Wissenschaftliche Erforschung neuer Sorten vom magischen Quadrat" geschrieben, wo Euler Zahlen mit Buchstaben ersetzt hat. Und auf diese Weise hat er ein griechisch-lateinisches Quadrat bekommen.</p>
      <p>Warum verschweigt Sudoku Geschichte diese Tatsache? Die Sache ist, dass sogar der Mathematiker selbst mit einem Problem konfrontiert hat — wie man Symbole kombinieren kann, so dass ein Symbol in keiner Zeile und in keiner Spalte sich wiederholt.</p>
      <p><b>Die 70er Jahre des 19. Jahrhunderts. Die Blüte von Sudoku.</b> In Nordamerika erschienen spezielle Rätsel, die aus Zahlen bestanden. 1979 erschienen sie in der Zeitschrift “Dell Puzzle Magazine” zum ersten Mal unter dem Namen “Number Place”. Als Autor des "neuen" Puzzle tritt Howard Garns aus, der für sein Zahlenrätsel das Prinzip vom lateinischen Quadrat genommen hat.</p>
      <p>Aber er arbeitete nur mit der Matrix, die aus 9×9 Zellen bestand. Er hat auch eine neue Regel hinzugefügt. Die Zahlen in inneren Quadraten von 3 × 3 Zellen sollten sich nicht wiederholen.</p>
      <p><b>1980-1990er Jahre. Japanische Wurzeln.</b> Im Jahr 1984 hat die japanische Firma «Nicoly Inc.» in ihrer Zeitung «Monthly Nicolist» eine Sammlung von Puzzles veröffentlicht. Die Überschrift von dieser Sammlung lautete "Die Zahl kann nur 1 Mal verwendet werden." Es war das erste Mal, wenn der Name Sudoku offiziell veröffentlicht wurde. Es bestand aus zwei japanischen Wörtern: ”su” (Nummer) und “doku” (nur einmal).</p>
      <p><b>1990er Jahre - heute.</b> Im Jahr 2004 erschien dieses Zahlenrätsel auf den Seiten von “The Times”, und seitdem kann man sie in den Zeitungen und Zeitschriften auf der ganzen Welt finden. Heute bieten einige Verlage kleine Sammlungen an, die ausschließlich Sudoku von verschiedenem Schwierigkeitsgrad gewidmet sind. Und natürlich sind diese Rätsel im Internet zu finden, das zurzeit in fast jedem Haus in unserem Land zu finden ist.</p>
      <p>Mit dem Aufkommen von Smartphones, hat das Spiel einen würdigen Platz unter den beliebtesten Spielen genommen. Mit der Einführung von Android- und iOS-Geräten ist die Zahl der Fans von Sudoku drastisch erhöht.</p>
      <p>Jetzt, wenn Sie ein bisschen mehr über Sudoku wissen, <a href="/">spielen</a> Sie und genießen Sie dieses kostenlose Puzzle.</p>

      
      
      

      <!-- <div class="column fourth desktop">
        <a href="#" class="banner vertical">
          <img src="img/banner-vertical.png" alt="">
        </a>
      </div> -->
    </div>
  </div>
</div>
